@using DOANPM_TH.Models.ViewModel
@{
    var listlaptop = ViewData["listlaptop"] as IEnumerable<LatopsViewModel>;
    Layout = "~/Views/Shared/Shopping.cshtml";
}
<div class="col-md-4 grid-top" style="width:20%;height:320px;display: inline-block;vertical-align: top;
    position: relative ;border: 1px solid #ececec;
    margin: -1px -3px 0 0;
    float: left; ">
    <a href="~/Th%E1%BB%8Bt%20Tr%C3%A2u%20G%C3%A1c%20B%E1%BA%BFp-7" class="b-link-stripe b-animate-go  thickbox">
        <img class="img-responsive" src="~/Content/HinhAnhSP/acernitro.jpg" alt="" style="height: 150px; width:150px; margin-top:20px;">
        <div class="b-wrapper">
        </div>

    </a><p><a href="~/Th%E1%BB%8Bt%20Tr%C3%A2u%20G%C3%A1c%20B%E1%BA%BFp-7" class="b-link-stripe b-animate-go  thickbox"></a><a href="/Th%E1%BB%8Bt%20Tr%C3%A2u%20G%C3%A1c%20B%E1%BA%BFp-7" style="margin-bottom:auto;">Acer</a></p>
    <strong style="float: left;font-size: 20px;color:#ff0000;margin: 0 9px 5px;">850,000 VNĐ</strong>
    <div class="km" style="display: block; font-size: 12px; color: #797979; margin: 0 9px; clear: both; float: none; width: 64%; height: auto; border: 0;">
        <span margin-left="5px">
            -Giảm ngay 5% khi mua
        </span>
    </div>

    <a href="~/GioHang/ThemGioHang?MaSP=7&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex" class="buy">Mua</a>
    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#divGioHang" href="~/GioHang/ThemGioHangAjax?MaSP=7&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex">Mua Sản Phẩm</a>
</div>
<div class="col-md-4 grid-top" style="width:20%;height:320px;display: inline-block;vertical-align: top;
    position: relative ;border: 1px solid #ececec;
    margin: -1px -3px 0 0;
    float: left; ">
    <a href="~/C%C3%A1%20Ch%C3%A9p%20G%C3%A1c%20B%E1%BA%BFp-8" class="b-link-stripe b-animate-go  thickbox">
        <img class="img-responsive" src="~/Content/HinhAnhSP/acernitro.jpg" alt="" style="height: 150px; width:150px; margin-top:20px;">
        <div class="b-wrapper">
        </div>

    </a><p><a href="~/C%C3%A1%20Ch%C3%A9p%20G%C3%A1c%20B%E1%BA%BFp-8" class="b-link-stripe b-animate-go  thickbox"></a><a href="/C%C3%A1%20Ch%C3%A9p%20G%C3%A1c%20B%E1%BA%BFp-8" style="margin-bottom:auto;">Acer</a></p>
    <strong style="float: left;font-size: 20px;color:#ff0000;margin: 0 9px 5px;">330,000 VNĐ</strong>
    <div class="km" style="display: block; font-size: 12px; color: #797979; margin: 0 9px; clear: both; float: none; width: 64%; height: auto; border: 0;">
        <span margin-left="5px">
            -Giảm ngay 5% khi mua
        </span>
    </div>

    <a href="~/GioHang/ThemGioHang?MaSP=8&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex" class="buy">Mua</a>
    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#divGioHang" href="~/GioHang/ThemGioHangAjax?MaSP=8&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex">Mua Sản Phẩm</a>
</div>
<div class="col-md-4 grid-top" style="width:20%;height:320px;display: inline-block;vertical-align: top;
    position: relative ;border: 1px solid #ececec;
    margin: -1px -3px 0 0;
    float: left; ">
    <a href="~/C%C3%A1%20Pa%20Canh%20G%C3%A1c%20B%E1%BA%BFp-9" class="b-link-stripe b-animate-go  thickbox">
        <img class="img-responsive" src="~/Content/HinhAnhSP/acernitro.jpg" alt="" style="height: 150px; width:150px; margin-top:20px;">
        <div class="b-wrapper">
        </div>

    </a><p><a href="~/C%C3%A1%20Pa%20Canh%20G%C3%A1c%20B%E1%BA%BFp-9" class="b-link-stripe b-animate-go  thickbox"></a><a href="/C%C3%A1%20Pa%20Canh%20G%C3%A1c%20B%E1%BA%BFp-9" style="margin-bottom:auto;">Acer</a></p>
    <strong style="float: left;font-size: 20px;color:#ff0000;margin: 0 9px 5px;">450 VNĐ</strong>
    <div class="km" style="display: block; font-size: 12px; color: #797979; margin: 0 9px; clear: both; float: none; width: 64%; height: auto; border: 0;">
        <span margin-left="5px">
            -Giảm ngay 5% khi mua
        </span>
    </div>

    <a href="~/GioHang/ThemGioHang?MaSP=9&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex" class="buy">Mua</a>
    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#divGioHang" href="~/GioHang/ThemGioHangAjax?MaSP=9&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex">Mua Sản Phẩm</a>
</div>
<div class="col-md-4 grid-top" style="width:20%;height:320px;display: inline-block;vertical-align: top;
    position: relative ;border: 1px solid #ececec;
    margin: -1px -3px 0 0;
    float: left; ">
    <a href="~/V%C3%BA%20Heo%20N%C6%B0%E1%BB%9Bng-10" class="b-link-stripe b-animate-go  thickbox">
        <img class="img-responsive" src="~/Content/HinhAnhSP/acernitro.jpg" alt="" style="height: 150px; width:150px; margin-top:20px;">
        <div class="b-wrapper">
        </div>

    </a><p><a href="~/V%C3%BA%20Heo%20N%C6%B0%E1%BB%9Bng-10" class="b-link-stripe b-animate-go  thickbox"></a><a href="/V%C3%BA%20Heo%20N%C6%B0%E1%BB%9Bng-10" style="margin-bottom:auto;">Acer</a></p>
    <strong style="float: left;font-size: 20px;color:#ff0000;margin: 0 9px 5px;">30,000 VNĐ</strong>
    <div class="km" style="display: block; font-size: 12px; color: #797979; margin: 0 9px; clear: both; float: none; width: 64%; height: auto; border: 0;">
        <span margin-left="5px">
            -Giảm ngay 5% khi mua
        </span>
    </div>

    <a href="~/GioHang/ThemGioHang?MaSP=10&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex" class="buy">Mua</a>
    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#divGioHang" href="~/GioHang/ThemGioHangAjax?MaSP=10&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex">Mua Sản Phẩm</a>
</div>
<div class="col-md-4 grid-top" style="width:20%;height:320px;display: inline-block;vertical-align: top;
    position: relative ;border: 1px solid #ececec;
    margin: -1px -3px 0 0;
    float: left; ">
    <a href="~/B%C3%B2%20Kh%C3%B4-11" class="b-link-stripe b-animate-go  thickbox">
        <img class="img-responsive" src="~/Content/HinhAnhSP/acernitro.jpg" alt="" style="height: 150px; width:150px; margin-top:20px;">
        <div class="b-wrapper">
        </div>

    </a><p><a href="~/B%C3%B2%20Kh%C3%B4-11" class="b-link-stripe b-animate-go  thickbox"></a><a href="~/B%C3%B2%20Kh%C3%B4-11" style="margin-bottom:auto;">Acer</a></p>
    <strong style="float: left;font-size: 20px;color:#ff0000;margin: 0 9px 5px;">21,000 VNĐ</strong>
    <div class="km" style="display: block; font-size: 12px; color: #797979; margin: 0 9px; clear: both; float: none; width: 64%; height: auto; border: 0;">
        <span margin-left="5px">
            -Giảm ngay 5% khi mua
        </span>
    </div>

    <a href="~/GioHang/ThemGioHang?MaSP=11&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex" class="buy">Mua</a>
    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#divGioHang" href="~/GioHang/ThemGioHangAjax?MaSP=11&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex">Mua Sản Phẩm</a>
</div>
<div class="col-md-4 grid-top" style="width:20%;height:320px;display: inline-block;vertical-align: top;
    position: relative ;border: 1px solid #ececec;
    margin: -1px -3px 0 0;
    float: left; ">
    <a href="~/B%C3%A1nh%20M%C3%AC-16" class="b-link-stripe b-animate-go  thickbox">
        <img class="img-responsive" src="~/Content/HinhAnhSP/acernitro.jpg " alt="" style="height: 150px; width:150px; margin-top:20px;">
        <div class="b-wrapper">
        </div>

    </a><p><a href="~/B%C3%A1nh%20M%C3%AC-16" class="b-link-stripe b-animate-go  thickbox"></a><a href="~/B%C3%A1nh%20M%C3%AC-16" style="margin-bottom:auto;">Acer</a></p>
    <strong style="float: left;font-size: 20px;color:#ff0000;margin: 0 9px 5px;">20,000 VNĐ</strong>
    <div class="km" style="display: block; font-size: 12px; color: #797979; margin: 0 9px; clear: both; float: none; width: 64%; height: auto; border: 0;">
        <span margin-left="5px">
            -Giảm ngay 5% khi mua
        </span>
    </div>

    <a href="~/GioHang/ThemGioHang?MaSP=16&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex" class="buy">Mua</a>
    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#divGioHang" href="~/GioHang/ThemGioHangAjax?MaSP=16&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex">Mua Sản Phẩm</a>
</div>
<div class="col-md-4 grid-top" style="width:20%;height:320px;display: inline-block;vertical-align: top;
    position: relative ;border: 1px solid #ececec;
    margin: -1px -3px 0 0;
    float: left; ">
    <a href="~/Shusi-17" class="b-link-stripe b-animate-go  thickbox">
        <img class="img-responsive" src="~/Content/HinhAnhSP/acernitro.jpg" alt="" style="height: 150px; width:150px; margin-top:20px;">
        <div class="b-wrapper">
        </div>

    </a><p><a href="~/Shusi-17" class="b-link-stripe b-animate-go  thickbox"></a><a href="~/Shusi-17" style="margin-bottom:auto;">Acer</a></p>
    <strong style="float: left;font-size: 20px;color:#ff0000;margin: 0 9px 5px;">50,000 VNĐ</strong>
    <div class="km" style="display: block; font-size: 12px; color: #797979; margin: 0 9px; clear: both; float: none; width: 64%; height: auto; border: 0;">
        <span margin-left="5px">
            -Giảm ngay 5% khi mua
        </span>
    </div>

    <a href="~/GioHang/ThemGioHang?MaSP=17&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex" class="buy">Mua</a>
    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#divGioHang" href="~/GioHang/ThemGioHangAjax?MaSP=17&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex">Mua Sản Phẩm</a>
</div>
<div class="col-md-4 grid-top" style="width:20%;height:320px;display: inline-block;vertical-align: top;
    position: relative ;border: 1px solid #ececec;
    margin: -1px -3px 0 0;
    float: left; ">
    <a href="~/Chu%E1%BB%91i%20n%E1%BA%BFp%20n%C6%B0%E1%BB%9Bng-18" class="b-link-stripe b-animate-go  thickbox">
        <img class="img-responsive" src="~/Content/HinhAnhSP/acernitro.jpg " alt="" style="height: 150px; width:150px; margin-top:20px;">
        <div class="b-wrapper">
        </div>

    </a><p><a href="~/Chu%E1%BB%91i%20n%E1%BA%BFp%20n%C6%B0%E1%BB%9Bng-18" class="b-link-stripe b-animate-go  thickbox"></a><a href="/Chu%E1%BB%91i%20n%E1%BA%BFp%20n%C6%B0%E1%BB%9Bng-18" style="margin-bottom:auto;">Acer</a></p>
    <strong style="float: left;font-size: 20px;color:#ff0000;margin: 0 9px 5px;">25,000 VNĐ</strong>
    <div class="km" style="display: block; font-size: 12px; color: #797979; margin: 0 9px; clear: both; float: none; width: 64%; height: auto; border: 0;">
        <span margin-left="5px">
            -Giảm ngay 5% khi mua
        </span>
    </div>

    <a href="~/GioHang/ThemGioHang?MaSP=18&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex" class="buy">Mua</a>
    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#divGioHang" href="~/GioHang/ThemGioHangAjax?MaSP=18&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex">Mua Sản Phẩm</a>
</div>
<div class="col-md-4 grid-top" style="width:20%;height:320px;display: inline-block;vertical-align: top;
    position: relative ;border: 1px solid #ececec;
    margin: -1px -3px 0 0;
    float: left; ">
    <a href="~/Ph%C3%A1%20l%E1%BA%A5u%20b%C3%B2-19" class="b-link-stripe b-animate-go  thickbox">
        <img class="img-responsive" src="~/Content/HinhAnhSP/acernitro.jpg" alt="" style="height: 150px; width:150px; margin-top:20px;">
        <div class="b-wrapper">
        </div>

    </a><p><a href="~/Ph%C3%A1%20l%E1%BA%A5u%20b%C3%B2-19" class="b-link-stripe b-animate-go  thickbox"></a><a href="~/Ph%C3%A1%20l%E1%BA%A5u%20b%C3%B2-19" style="margin-bottom:auto;">Acer</a></p>
    <strong style="float: left;font-size: 20px;color:#ff0000;margin: 0 9px 5px;">30,000 VNĐ</strong>
    <div class="km" style="display: block; font-size: 12px; color: #797979; margin: 0 9px; clear: both; float: none; width: 64%; height: auto; border: 0;">
        <span margin-left="5px">
            -Giảm ngay 5% khi mua
        </span>
    </div>

    <a href="~/GioHang/ThemGioHang?MaSP=19&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex" class="buy">Mua</a>
    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#divGioHang" href="~/GioHang/ThemGioHangAjax?MaSP=19&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex">Mua Sản Phẩm</a>
</div>
<div class="col-md-4 grid-top" style="width:20%;height:320px;display: inline-block;vertical-align: top;
    position: relative ;border: 1px solid #ececec;
    margin: -1px -3px 0 0;
    float: left; ">
    <a href="~/S%C3%BAp%20cua-20" class="b-link-stripe b-animate-go  thickbox">
        <img class="img-responsive" src="~/Content/HinhAnhSP/acernitro.jpg  " alt="" style="height: 150px; width:150px; margin-top:20px;">
        <div class="b-wrapper">
        </div>

    </a><p><a href="~/S%C3%BAp%20cua-20" class="b-link-stripe b-animate-go  thickbox"></a><a href="~/S%C3%BAp%20cua-20" style="margin-bottom:auto;">Acer</a></p>
    <strong style="float: left;font-size: 20px;color:#ff0000;margin: 0 9px 5px;">25,000 VNĐ</strong>
    <div class="km" style="display: block; font-size: 12px; color: #797979; margin: 0 9px; clear: both; float: none; width: 64%; height: auto; border: 0;">
        <span margin-left="5px">
            -Giảm ngay 5% khi mua
        </span>
    </div>

    <a href="~/GioHang/ThemGioHang?MaSP=20&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex" class="buy">Mua</a>
    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#divGioHang" href="~/GioHang/ThemGioHangAjax?MaSP=20&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex">Mua Sản Phẩm</a>
</div>
<div class="col-md-4 grid-top" style="width:20%;height:320px;display: inline-block;vertical-align: top;
    position: relative ;border: 1px solid #ececec;
    margin: -1px -3px 0 0;
    float: left; ">
    <a href="~/Cua%20rang%20me-34" class="b-link-stripe b-animate-go  thickbox">
        <img class="img-responsive" src="~/Content/HinhAnhSP/acernitro.jpg " alt="" style="height: 150px; width:150px; margin-top:20px;">
        <div class="b-wrapper">
        </div>

    </a><p><a href="~/Cua%20rang%20me-34" class="b-link-stripe b-animate-go  thickbox"></a><a href="~/Cua%20rang%20me-34" style="margin-bottom:auto;">Acer</a></p>
    <strong style="float: left;font-size: 20px;color:#ff0000;margin: 0 9px 5px;">200,000 VNĐ</strong>
    <div class="km" style="display: block; font-size: 12px; color: #797979; margin: 0 9px; clear: both; float: none; width: 64%; height: auto; border: 0;">
        <span margin-left="5px">
            -Giảm ngay 5% khi mua
        </span>
    </div>

    <a href="~/GioHang/ThemGioHang?MaSP=34&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex" class="buy">Mua</a>
    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#divGioHang" href="~/GioHang/ThemGioHangAjax?MaSP=34&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex">Mua Sản Phẩm</a>
</div>
<div class="col-md-4 grid-top" style="width:20%;height:320px;display: inline-block;vertical-align: top;
    position: relative ;border: 1px solid #ececec;
    margin: -1px -3px 0 0;
    float: left; ">
    <a href="~/Cua%20rang%20mu%E1%BB%91i-35" class="b-link-stripe b-animate-go  thickbox">
        <img class="img-responsive" src="~/Content/HinhAnhSP/acernitro.jpg " alt="" style="height: 150px; width:150px; margin-top:20px;">
        <div class="b-wrapper">
        </div>

    </a><p><a href="~/Cua%20rang%20mu%E1%BB%91i-35" class="b-link-stripe b-animate-go  thickbox"></a><a href="~/Cua%20rang%20mu%E1%BB%91i-35" style="margin-bottom:auto;">Acer</a></p>
    <strong style="float: left;font-size: 20px;color:#ff0000;margin: 0 9px 5px;">150,000 VNĐ</strong>
    <div class="km" style="display: block; font-size: 12px; color: #797979; margin: 0 9px; clear: both; float: none; width: 64%; height: auto; border: 0;">
        <span margin-left="5px">
            -Giảm ngay 5% khi mua
        </span>
    </div>

    <a href="~/GioHang/ThemGioHang?MaSP=35&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex" class="buy">Mua</a>
    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#divGioHang" href="~/GioHang/ThemGioHangAjax?MaSP=35&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex">Mua Sản Phẩm</a>
</div>
<div class="col-md-4 grid-top" style="width:20%;height:320px;display: inline-block;vertical-align: top;
    position: relative ;border: 1px solid #ececec;
    margin: -1px -3px 0 0;
    float: left; ">
    <a href="~/B%C3%BAn%20%C4%91%E1%BA%ADu-36" class="b-link-stripe b-animate-go  thickbox">
        <img class="img-responsive" src="~/Content/HinhAnhSP/acernitro.jpg  " alt="" style="height: 150px; width:150px; margin-top:20px;">
        <div class="b-wrapper">
        </div>

    </a><p><a href="~/B%C3%BAn%20%C4%91%E1%BA%ADu-36" class="b-link-stripe b-animate-go  thickbox"></a><a href="~/B%C3%BAn%20%C4%91%E1%BA%ADu-36" style="margin-bottom:auto;">Acer</a></p>
    <strong style="float: left;font-size: 20px;color:#ff0000;margin: 0 9px 5px;">25,000 VNĐ</strong>
    <div class="km" style="display: block; font-size: 12px; color: #797979; margin: 0 9px; clear: both; float: none; width: 64%; height: auto; border: 0;">
        <span margin-left="5px">
            -Giảm ngay 5% khi mua
        </span>
    </div>

    <a href="~/GioHang/ThemGioHang?MaSP=36&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex" class="buy">Mua</a>
    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#divGioHang" href="~/GioHang/ThemGioHangAjax?MaSP=36&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex">Mua Sản Phẩm</a>
</div>
<div class="col-md-4 grid-top" style="width:20%;height:320px;display: inline-block;vertical-align: top;
    position: relative ;border: 1px solid #ececec;
    margin: -1px -3px 0 0;
    float: left; ">
    <a href="~/%C4%90%E1%BA%ADu%20cu%E1%BB%91n%20h%C3%A0nh-37" class="b-link-stripe b-animate-go  thickbox">
        <img class="img-responsive" src="~/Content/HinhAnhSP/acernitro.jpg  " alt="" style="height: 150px; width:150px; margin-top:20px;">
        <div class="b-wrapper">
        </div>

    </a><p><a href="~/%C4%90%E1%BA%ADu%20cu%E1%BB%91n%20h%C3%A0nh-37" class="b-link-stripe b-animate-go  thickbox"></a><a href="~/%C4%90%E1%BA%ADu%20cu%E1%BB%91n%20h%C3%A0nh-37" style="margin-bottom:auto;">Acer</a></p>
    <strong style="float: left;font-size: 20px;color:#ff0000;margin: 0 9px 5px;">30,000 VNĐ</strong>
    <div class="km" style="display: block; font-size: 12px; color: #797979; margin: 0 9px; clear: both; float: none; width: 64%; height: auto; border: 0;">
        <span margin-left="5px">
            -Giảm ngay 5% khi mua
        </span>
    </div>

    <a href="~/GioHang/ThemGioHang?MaSP=37&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex" class="buy">Mua</a>
    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#divGioHang" href="~/GioHang/ThemGioHangAjax?MaSP=37&amp;strURL=http%3A%2F%2Flocalhost%3A9328%2FHome%2FIndex">Mua Sản Phẩm</a>
</div>
<div class="clearfix"> </div>


            </div>
        </div>